<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @picture.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @picture.image.url, size:'400x400' %>
</p>

<%= link_to '編集', edit_picture_path(@picture) %> |
<%= link_to '投稿一覧', pictures_path %>
